html {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 16px;
    }

body {
    width: 900px;
    margin: auto;
    padding: 5px;
    background-color: chocolate;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

nav{
    background-color: darkgray;
    height: 20px;
}

nav a{
    word-wrap: break-word;
    font-weight: bold;
    padding: 1px 22px;
}

nav a:link{
    float: left;
    list-style: none;
    text-decoration: none;
    color: darkgrey
    
}

nav a:visited{
    color: black;
}

nav a:hover{
    color: blue;
}

article {
    text-align: center;
    margin: auto;
    min-height: 400px;
}

header {
    height: 100px;
    text-align: center;
    background-color: aqua;
    padding: 10px;
    text-transform: uppercase;
}

header h1 {
    color: blue;
    
}

footer {
    text-align: center;
    background-color: black;
    letter-spacing: 5px;
}

footer p {
    margin: 5px;;
    font-size: x-large;
    color: white;
    text-shadow: 0px 1px 10px white;
}

.sucesso {
    background-color: red;
}

form {
    margin: auto;
    min-width: 200px;
    max-width: 220px;
    
}

form dt {
    font-weight: bold;
    float: left;
    padding: 4px;
    
}

form dd {
    text-align: left;
    padding: 2px;
}

td, th {
    min-width:50px;
}

table {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    width: 100%;
    
}

table, td, th {
    border: 1px dotted black;
    border-collapse: collapse;
    padding: 5px;
}

thead td, th {
    background-color: #ff9900;
}

.formSub {
    padding: 5px;
    width: 100%;
    vertical-align: text-top;
    font-size: 14px;
    font-weight: bold;
}